{% extends "base.html.twig" %}
{% block container %}
<div class="blog-post">
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta"><em>{{post.data_creacio}}</em> By:&nbsp;<a href="{{path('viewPostByUser',{id:post.user.id})}}"><small>{{post.user.username}}</small></a></p>
            <p>
                {{post.content}}
            </p>
          </div>
{% endblock %}